/target
**/*.rs.bk
**/*.swp
**/*.swo
**/*.tmp
**/*.log
Cargo.lock
/.idea
/.vscode
node_modules
*.iml
*.DS_Store
*.env
*.old
*.bak
*.orig
*.rej
*.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.sublime-workspace
*.sublime-project
*.code-workspace
/.pytest_cache
/.mypy_cache
/.coverage
/.cache
/.eggs
*.egg-info
/.venv
venv/
/.env
/.envrc
/.direnv
