[package]
name = "course_pilot"
version = "0.1.0"
edition = "2024"

[lib]
doctest = false

[dev-dependencies]
dioxus-ssr = "0.7"

[dependencies]
# Core UI framework
dioxus = { version = "0.7", features = ["desktop", "macro", "hooks", "router"] }
dioxus-desktop = "0.7"
dioxus-router = "0.7"
dioxus-signals = "0.7"

# UI Components & Styling
dioxus-free-icons = { version = "0.10.0", features = [
    "material-design-icons-action",
    "material-design-icons-content",
    "material-design-icons-editor",
    "material-design-icons-av",
    "material-design-icons-device",
    "font-awesome-solid",
    "font-awesome-brands",
] }
dioxus-motion = { version = "0.3.2", default-features = false, features = [
    "desktop",
] }

# Utilities
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
simple_logger = "5.1"
walkdir = "2.5.0"
instant = "0.1.13"

# Async Runtime & Utilities
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.18"
tokio-util = { version = "0.7.18", features = ["full"] }
futures = "0.3.31"
futures-util = "0.3"
async-trait = "0.1.89"
# Data Handling & Serialization
rusqlite = { version = "0.38.0", features = ["bundled"] }
r2d2 = "0.8.10"
r2d2_sqlite = "0.32.0"
chrono = { version = "0.4.42", default-features = false, features = [
    "serde",
    "clock",
] }
uuid = { version = "1", features = ["v4", "serde"] }
regex = "1.12"
csv = "1.4.0"
genpdf = "0.2"

# Error Handling & Logging
anyhow = "1.0"
thiserror = "2.0"
log = "0.4"
env_logger = "0.11"
tracing = { version = "0.1", features = ["std"] }

# File & System Utilities
dirs = "6.0.0"
once_cell = "1.21"
tempfile = "3.24"
rfd = { version = "0.17.1", default-features = false, features = [
    "xdg-portal",
] }

# Video Player & Media
mp4 = "0.14"
matroska = "0.30"
http-range = "0.1"
mime_guess = "2.0"

# App-specific Logic
reqwest = { version = "0.13.1", features = ["json"], default-features = false }
markdown = "1.0.0"

[profile.release]
strip = true


[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"

[profile.wasm-dev]
inherits = "dev"
opt-level = 1
