[package]
name = "course_pilot"
version = "0.1.0"
edition = "2024"


[dependencies]
# Core UI framework
dioxus = { version = "0.7", features = ["desktop", "macro", "hooks", "router"] }
dioxus-signals = "0.7"
# UI Components & Styling
dioxus-free-icons = { version = "0.10.0", features = [
    "material-design-icons-action",
    "material-design-icons-content",
    "material-design-icons-editor",
    "material-design-icons-av",
    "material-design-icons-device",
    "font-awesome-solid",
    "font-awesome-brands",
] }
dioxus-motion = { version = "0.3.2", default-features = false, features = [
    "desktop",
] }

# Utilities
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
walkdir = "2.5.0"

# Async Runtime & Utilities
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.18"
tokio-util = { version = "0.7.18", features = ["full"] }
futures = "0.3.31"
futures-util = "0.3"
# Data Handling & Serialization

uuid = { version = "1", features = ["v4", "serde"] }

# Error Handling & Logging
anyhow = "1.0"
thiserror = "2.0"
log = "0.4"
env_logger = "0.11"
tracing = { version = "0.1", features = ["std"] }

# File & System Utilities
dirs = "6.0.0"
once_cell = "1.21"
tempfile = "3.24"
rfd = { version = "0.17.1", default-features = false, features = ["gtk3"] }

# App-specific Logic
reqwest = { version = "0.13.1", features = ["json"], default-features = false }

[profile.release]
opt-level = "z"   # Optimize for size
lto = true        # Enable Link Time Optimization
codegen-units = 1 # Allow for maximum cross-module optimization
panic = "abort"   # Remove unwinding code for smaller binaries
strip = true      # Strip debug symbols from the final binary
